/*login sec with popup*/
.login-sec {
    color: #fff;
    font-size: 0.99vw;
    text-align: left;
    font-weight: 400;
    font-family: 'manrope';
    text-transform: uppercase;
    letter-spacing: 0.0732vw;
    text-shadow: none;
    padding-left: 1.302vw;
    cursor: pointer;
 }
 .sign-in-section {
    padding: 2.5VW 4.656vw 0 7.656vw;
 }
 .signin-title {
    color: #3E3E3E;
    font-family: 'manrope';
    font-weight: 600;
    font-size: 1.145vw;
    line-height: 1.56vw;
    margin-bottom: 16px;
 }
 .login-form .form-group label,
 .signupfirstPopup .form-group label,
 .signotpPopup .form-group label,
 #otp-form .form-group label,
 .reset-form .form-group label {
    color: rgba(62, 62, 62, 0.50);
    font-weight: normal;
    font-family: 'manrope';
    font-size: 0.729vw;
    display: block;
    margin-bottom: 5px;
 }
 .login-form .form-group,
 .signupfirstPopup .form-group,
 .signotpPopup .form-group,
 #otp-form .form-group,
 .reset-form .form-group {
    margin-bottom: 15px;
 }
 .login-form .form-group input,
 .signupfirstPopup .form-group input,
 .signotpPopup .form-group input,
 #otp-form .form-group input,
 .reset-form .form-group input {
    width: 100%;
    border: none;
    border-bottom: 0.0732vw solid rgba(62, 62, 62, 0.15);
    font-family: 'manrope';
    font-weight: normal;
    font-size: 0.937vw;
    line-height: 1.302vw;
 }
 .login-form .form-group span img,
 .signupfirstPopup .form-group span img,
 .signotpPopup .form-group span img {
    width:0.999vw;
    height: 0.999vw;
 }
 .login-form .form-group span,
 .signupfirstPopup .form-group span ,
 .signotpPopup .form-group span {
    position: absolute;
    right: 0;
    cursor: pointer;
 }
 .forgot-pw {
    color: #3E3E3E;
    font-family: 'manrope';
    font-weight: 500;
    font-size: 0.725VW;
    text-align: right;
    cursor: pointer;
 }
 button.btn-submit,
 button.btn-signup-next {
    background: linear-gradient(to right, #43A047 5%, #A4C771 127%, #A6C872);
    border: none;
    border-radius: 0.732vw;
    font-size: 0.833vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.219vw 1.024vw;
    text-transform: uppercase;
    font-family: 'manrope';
    font-weight: 600;
    color: #fff;
    line-height: 1.197vw;
    padding: 0.625VW 3.1vw;
    display: block;
    margin: 0 auto;
    margin-top: 1.718vw;
    margin-bottom: 2.03vw;
 }
 .or-sec p {
    text-align: center;
    margin-bottom: 0;
    font-family: 'manrope';
    color: rgba(62, 62, 62, 0.50);
    font-weight: 500;
    font-size: 0.625vw;
    padding-bottom: 1.979vw;
 }
 span.line:before {
    right: 0.585vw;
    margin-left: 3%;
    top: -0.512vw;
    background-color: rgba(62, 62, 62, 0.15);
    content: "";
    display: inline-block;
    height: 0.0732vw;
    position: relative;
    vertical-align: middle;
    width: 38%;
 }
 span.line:after {
    left: 4.099vw;
    margin-right: -30%;
    top: -0.512vw;
    background-color: rgba(62, 62, 62, 0.15);
    content: "";
    display: inline-block;
    height: 0.0732vw;
    position: relative;
    vertical-align: middle;
    width: 38%;
 }
 .or-sec {
    position: relative;
 }
 .form-group.password {
    position: relative;
 }
 .social-share-button-section img {
    width: 0.7291vw;
    height: 0.7291vw;
 }
 button.btn-sign-social {
    background: transparent;
    border: none;
    border-radius: 0.732vw;
    box-shadow: 0 0.219vw 1.024vw rgba(0, 0, 0, 0.10);
    padding: 0.832vw 1.7569vw;
    color: #fff;
    font-family: 'manrope';
    font-weight: normal;
    font-size: 0.7291vw;
    cursor: pointer;
 }
 button.btn-sign-social.btn-scoail-fb {
    background: #3B5998;
 }
 button.btn-sign-social span {
    margin-left: 1.458vw;
 }
 button.btn-sign-social.btn-social-google {
    background: #B23121;
    margin-left: 1.302vw;
 }
 .social-share-button-section {
    text-align: center;
 }
 span.line {
    position: absolute;
    top: 0.366vw;
    width: 100%;
 }
 .popup-left-sec {
    width: 23.8541vw;
    padding-top: 12.079vw;
    padding-left: 1.8301vw;
  }
  .popup-right-sec {
    background-image: url('../../assets/images/sign-in-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .popup-logo {
    color: #fff;
    font-size: 2.812vw;
    font-family: 'berkshire_swashregular';
    text-shadow: rgba(0, 0, 0, 0.27) 0px 0.219vw 0.439vw;
    text-align: center;
    line-height: 3.489vw;
    padding-bottom: 9.427vw;
  }
  button.sign-up-btn {
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-family: 'manrope';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8333vw;
    padding: 0;
    line-height:  1.756vw;
    width: 100%;
    PADDING-BOTTOM: 2.5VW;
  }
  i.fa.fa-chevron-right {
    margin-left: 0.677vw;
    vertical-align: baseline;
  }
  .fa-chevron-right:before {
    font-size: 0.585vw;
  }
  .loginPopup.open {
    width: 58%;
 }
 .loginPopup.closesecond {
     display: none;
 }
  /*signup popup css*/
  .signupPopup.close-pop {
    display: none;
 }
 .signupPopup.open {
    width: 58%;
 }
 button.btn-signup-next {
    margin-bottom: 0;
    margin-top: 2.781vw;
 }
 /*otp and sign up first */
 .signotpPopup.close-pop {
    display: none;
 }
 .signupfirstPopup.open {
    display: none;
 }
 .otp-title {
    color: #3E3E3E;
    font-family: 'manrope';
    font-weight: normal;
    font-size: 0.833vw;
    line-height: 1.56vw;
    padding-bottom: 1.718vw;
 }
 p.didnt-code {
    margin-bottom: 0;
    font-family: 'manrope';
    color: #3E3E3E;
    font-size: 0.729vw;
    line-height: 1.56vw;
 }
 p.didnt-code span {
    color: #43A047;
    font-weight: 500;
    font-size: 0.833vw;
    padding-left: 0.219vw;
    cursor: pointer;
 }
 button.btn-signup-submit {
    background: #43A047;
    border: none;
    border-radius: 0.732vw;
    font-size: 0.833vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.219vw 1.024vw;
    text-transform: uppercase;
    font-family: 'manrope';
    font-weight: 600;
    color: #fff;
    line-height: 1.197vw;
    padding: 0.625VW 3.1vw;
    display: block;
    margin: 0 auto;
    margin-top: 2.875vw;
    margin-bottom: 0;
 }
 /*forgot password*/
 .resetPopup.close-pop {
    display: none;
 }
 .resetPopup.open {
    width: 100%;
 }
 .btn-sec button.btn-signup-next{
    margin-bottom: 0;
    margin-top: 2.781vw;
    display: inline-block;
    padding: 0.625VW 2.5vw;
 }
 .btn-sec button.btn-signup-next.btn-send {
    margin-right: 37px;
    cursor: pointer;
 }
 .fresendotpPopup.close-pop {
   display: none;
  }
   .fresendotpPopup.open{
      display: block;
   }
/*  .fresendotpPopup{
    display:none;
 }
 .fresendotpPopup.open {
   display: block;
} */
.sign-in-section-re {
   padding: 2.5VW 4.656vw 2.5VW 7.656vw;
}
.resignupPopup.open {
   width: 58%;
}
.resignupPopup.close-pop {
   display: none;
}
button.btn-signup-next.btn-ca {
   margin-bottom: 0;
   margin-top: 2.781vw;
   display: inline-block;
   padding: 0.625VW 2.5vw;
}
.btn-signup-submit.resend-submit{
   margin-bottom: 0;
   margin-top: 2.781vw;
   display: inline-block;
   margin-right: 36px;
}
button.btn-signup-next:disabled {
   opacity: 0.7;
}
